In [1]:
import pandas as pd

### 현준님이 전처리한 데이터로 진행

In [2]:
df = pd.read_csv('apart_deal.csv')
df.head()

      지역코드  법정동         거래일       아파트      전용면적   층  건축년도   거래금액
0  31110.0  학성동  2020-05-30    남운학성타운  135.5800   8  1991  26700
1  31110.0  남외동  2020-01-03  남외푸르지오1차  101.6000   2  2006  35500
2  31110.0  남외동  2020-01-03     에일린의뜰   84.9920  11  2007  36500
3  31110.0  남외동  2020-01-03  남외푸르지오1차  118.7060   8  2006  43000
4  31110.0  남외동  2020-01-04  남외푸르지오2차   84.9636   7  2007  38700

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002500 entries, 0 to 5002499
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   지역코드    float64
 1   법정동     object
 2   거래일     object
 3   아파트     object
 4   전용면적    float64
 5   층       int64
 6   건축년도    int64
 7   거래금액    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 305.3+ MB

### 서울특별시 지역코드 = [11]로 시작하여 해당하는 코드들만 남기기

In [4]:
apart = df[df['지역코드'].astype(int).astype(str).str[:2] == '11']
apart

            지역코드  법정동         거래일        아파트    전용면적   층  건축년도    거래금액
655309   11110.0  내수동  2018-01-13  경희궁의아침2단지  140.78  15  2004  130000
655310   11110.0  내수동  2018-01-19  경희궁 파크팰리스  103.77   5  2003   96000
655311   11110.0  내수동  2018-01-23  경희궁의아침3단지  123.13  10  2004  118000
655312   11110.0  내수동  2018-01-30      세종로대우   66.96  13  1994   54500
655313   11110.0  내수동  2018-01-31      세종로대우   76.66  11  1994   64000
...          ...  ...         ...        ...     ...  ..   ...     ...
4704403  11740.0  강일동  2023-04-16  강동리버스트4단지   49.82   7  2020   60000
4704404  11740.0  강일동  2023-04-20  강일리버파크4단지   84.83   5  2009   86000
4704405  11740.0  강일동  2023-04-21  강일리버파크6단지   84.53   8  2009   85000
4704406  11740.0  강일동  2023-04-22  강일리버파크3단지   84.53   8  2009   84000
4704407  11740.0  강일동  2023-04-22  강동리버스트4단지   49.82   7  2020   61000

[630188 rows x 8 columns]

### 복사본 생성

In [12]:
apart_1 = apart.copy()

### 각 구별 지역코드에 해당하는 지역 맵핑후 새로운 Series로 추가 후 ['지역코드'] 삭제

In [13]:
region_mapping = {
    11110: '서울시 종로구',
    11140: '서울시 중구',
    11170: '서울시 용산구',
    11200: '서울시 성동구',
    11215: '서울시 광진구',
    11230: '서울시 동대문구',
    11260: '서울시 중랑구',
    11290: '서울시 성북구',
    11305: '서울시 강북구',
    11320: '서울시 도봉구',
    11350: '서울시 노원구',
    11380: '서울시 은평구',
    11410: '서울시 서대문구',
    11440: '서울시 마포구',
    11470: '서울시 양천구',
    11500: '서울시 강서구',
    11530: '서울시 구로구',
    11545: '서울시 금천구',
    11560: '서울시 영등포구',
    11590: '서울시 동작구',
    11620: '서울시 관악구',
    11650: '서울시 서초구',
    11680: '서울시 강남구',
    11710: '서울시 송파구',
    11740: '서울시 강동구'
}

apart_1['지역명'] = apart_1['지역코드'].map(region_mapping)
apart_1 = apart_1.drop(columns= ['지역코드'])
apart_1

         법정동         거래일        아파트    전용면적   층  건축년도    거래금액      지역명
655309   내수동  2018-01-13  경희궁의아침2단지  140.78  15  2004  130000  서울시 종로구
655310   내수동  2018-01-19  경희궁 파크팰리스  103.77   5  2003   96000  서울시 종로구
655311   내수동  2018-01-23  경희궁의아침3단지  123.13  10  2004  118000  서울시 종로구
655312   내수동  2018-01-30      세종로대우   66.96  13  1994   54500  서울시 종로구
655313   내수동  2018-01-31      세종로대우   76.66  11  1994   64000  서울시 종로구
...      ...         ...        ...     ...  ..   ...     ...      ...
4704403  강일동  2023-04-16  강동리버스트4단지   49.82   7  2020   60000  서울시 강동구
4704404  강일동  2023-04-20  강일리버파크4단지   84.83   5  2009   86000  서울시 강동구
4704405  강일동  2023-04-21  강일리버파크6단지   84.53   8  2009   85000  서울시 강동구
4704406  강일동  2023-04-22  강일리버파크3단지   84.53   8  2009   84000  서울시 강동구
4704407  강일동  2023-04-22  강동리버스트4단지   49.82   7  2020   61000  서울시 강동구

[630188 rows x 8 columns]

### 컬럼 순서 변경 후 인덱스 번호 초기화

In [14]:
col = ['지역명']+[col for col in apart_1 if col != '지역명']
apart_1 = apart_1[col]

In [15]:
apart_1.reset_index(drop=True)

            지역명  법정동         거래일        아파트    전용면적   층  건축년도    거래금액
0       서울시 종로구  내수동  2018-01-13  경희궁의아침2단지  140.78  15  2004  130000
1       서울시 종로구  내수동  2018-01-19  경희궁 파크팰리스  103.77   5  2003   96000
2       서울시 종로구  내수동  2018-01-23  경희궁의아침3단지  123.13  10  2004  118000
3       서울시 종로구  내수동  2018-01-30      세종로대우   66.96  13  1994   54500
4       서울시 종로구  내수동  2018-01-31      세종로대우   76.66  11  1994   64000
...         ...  ...         ...        ...     ...  ..   ...     ...
630183  서울시 강동구  강일동  2023-04-16  강동리버스트4단지   49.82   7  2020   60000
630184  서울시 강동구  강일동  2023-04-20  강일리버파크4단지   84.83   5  2009   86000
630185  서울시 강동구  강일동  2023-04-21  강일리버파크6단지   84.53   8  2009   85000
630186  서울시 강동구  강일동  2023-04-22  강일리버파크3단지   84.53   8  2009   84000
630187  서울시 강동구  강일동  2023-04-22  강동리버스트4단지   49.82   7  2020   61000

[630188 rows x 8 columns]

### 새로운 csv파일로 저장

In [16]:
apart_1.to_csv('seoul_apart.csv', index = False)

### 저장된 파일 확인하기

In [17]:
ap = pd.read_csv('seoul_apart.csv')
ap

            지역명  법정동         거래일        아파트    전용면적   층  건축년도    거래금액
0       서울시 종로구  내수동  2018-01-13  경희궁의아침2단지  140.78  15  2004  130000
1       서울시 종로구  내수동  2018-01-19  경희궁 파크팰리스  103.77   5  2003   96000
2       서울시 종로구  내수동  2018-01-23  경희궁의아침3단지  123.13  10  2004  118000
3       서울시 종로구  내수동  2018-01-30      세종로대우   66.96  13  1994   54500
4       서울시 종로구  내수동  2018-01-31      세종로대우   76.66  11  1994   64000
...         ...  ...         ...        ...     ...  ..   ...     ...
630183  서울시 강동구  강일동  2023-04-16  강동리버스트4단지   49.82   7  2020   60000
630184  서울시 강동구  강일동  2023-04-20  강일리버파크4단지   84.83   5  2009   86000
630185  서울시 강동구  강일동  2023-04-21  강일리버파크6단지   84.53   8  2009   85000
630186  서울시 강동구  강일동  2023-04-22  강일리버파크3단지   84.53   8  2009   84000
630187  서울시 강동구  강일동  2023-04-22  강동리버스트4단지   49.82   7  2020   61000

[630188 rows x 8 columns]

In [19]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630188 entries, 0 to 630187
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역명     630188 non-null  object
 1   법정동     630188 non-null  object
 2   거래일     630188 non-null  object
 3   아파트     630188 non-null  object
 4   전용면적    630188 non-null  float64
 5   층       630188 non-null  int64
 6   건축년도    630188 non-null  int64
 7   거래금액    630188 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 38.5+ MB